<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
      
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Etudiants</title>
</head>
<body>
   <div layout:fragment="Mycontent">
	<div class="container mt-5">
		<div class="card">
			<div class="card-header">Liste des Etudiants</div>
			<div class="card-body">
 <table class="table table-striped">
 <tr>
 <th>ID</th><th>Nom & Prenom Etudiant</th><th>cin produit</th><th>Date de Naissance</th><th>Parcours</th>
  <th sec:authorize="hasRole('ADMIN')" >Modifier</th><th sec:authorize="hasRole('ADMIN')" >Supprimer</th>
 </tr> 
 <tr th:each="p:${parcourss}">
						<td th:text="${p.idEtudiant}"></td>
						<td th:text="${p.nomEtudiant}"></td>
						 
						<td th:text="${p.cinEtudiant}"></td> 
						<td th:text="${p.dateNaissance}"></td>
						<td th:text="${p.parcours.nomParc}"></td> 
						<td sec:authorize="hasRole('ADMIN')" ><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerEtudiant(id=${p.idEtudiant},page=${currentPage},size=${size})}">Supprimer</a>
</td>
<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-success"
th:href="@{modifierEtudiant(id=${p.idEtudiant})}">Editer</a></td>
</tr>
				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}"><a
						th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
						th:href="@{ ListeEtudiants(page=${status.index}, size=${size} ) }"
						th:text="${status.index }"></a></li>
				</ul>
 </div>
</div>
</div>
</div>
</body>
</html>